{% extends 'base.html' %}

{% block content %}
    <h2 class="display-5 text-center">{% block title %} {{ user_data['nome_usual'] }} {% endblock %}</h2>
    <img src="https://suap.ifrn.edu.br{{ user_data['url_foto_150x200'] }}" class="rounded mx-auto d-block" alt="foto">

    {% for field in user_data %}
    <div class="container text-center">
        <div class="row align-items-center">
          <div class="col">
            <p class="blockquote"> <b>{{ field }}</b>: {{ user_data[field] }} </p>
          </div>
        </div>
      </div>

    {% endfor %}

    <div class="mx-auto p-2" style="width: 0%;">
      <form action="{{url_for('boletim') }}">
        <button type="submit" class="btn btn-outline-info m-1">Boletim</button>
      </form>
      <form action="{{url_for('logout') }}">
        <button type="submit" class="btn btn-outline-info m-1">Logout</button>
      </form>
    </div>

{% endblock %}